.masthead.clearfix
  .inner
    %h3.masthead-brand= link_to "AMT | Laser", root_path
    %nav.nav.nav-masthead
      /= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path) || current_page?(controller: 'log_entries', action: 'create')}"
      = link_to "Add Entry", new_log_entry_path, class: "nav-link #{'active' if current_page?(new_log_entry_path) || current_page?(root_path)}"
      = link_to "Log", log_entries_path, class: "nav-link #{'active' if current_page?(log_entries_path)}"
      - if current_user
        .nav-item.nav-link.dropdown
          = link_to "Hello #{current_user.nickname}", "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
          .dropdown-menu
            = link_to "Users", users_path, class: "dropdown-item" if current_user.is_admin?
            = link_to "Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item"
      - else
        = link_to "Sign in with Slack", user_omniauth_authorize_path(:slack), class: "nav-link"
